<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Weather Info</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Weather Information</h1>
            <h2 class="subtitle">City: <%= city %></h2>
            <p>Temperature: <strong><%= temp %>°F</strong></p>
            <p>Weather Description: <strong><%= description %></strong></p>
            <a class="button is-link" href="/">Check another zip code</a>
        </div>
    </section>
</body>
</html>